<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/378e1aa7-7705-4e98-b617-0513ea8af2cb/resourcegroups/northwind-md/providers/Microsoft.Web/sites/northwind-md</ResourceId>
    <ResourceGroup>northwind-md</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://northwind-md.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>northwind-md.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>northwind-md</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$northwind-md</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NORTHWNDEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=northwindmd.database.windows.net;Initial Catalog=northwind;User ID=mdorney;Password=WI3dorneys" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Northwind.Models.NORTHWNDEntities, Northwind" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="NORTHWNDEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.NorthwindMOdel.csdl|res://*/Models.NorthwindMOdel.ssdl|res://*/Models.NorthwindMOdel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=northwindmd.database.windows.net;Initial Catalog=northwind;User ID=mdorney;Password=WI3dorneys"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="NORTHWNDEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.NorthwindMOdel.csdl|res://*/Models.NorthwindMOdel.ssdl|res://*/Models.NorthwindMOdel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=northwindmd.database.windows.net;Initial Catalog=northwind;User ID=mdorney;Password=WI3dorneys"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>