
@{
    ViewBag.Title = "checkout";
}
<style>
    #Label {
        text-align: left;
        font-size: 25px;
    }

    #label2 {
        text-align: left;
    }

    .fa-compass {
        font-size: 18px;
    }

    #sucess {
        color: green;
    }

    #orderNum {
        font-size: 20px;
    }
</style>
<h1 id="Label">N<i class="fa fa-compass"></i>rthwind</h1>
<hr />
<h2 id="label2">Order Confirmation</h2>
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="jumbotron">
    <h3 id="sucess"><i class="fa fa-check"></i> Thank you, your order has been placed.</h3>
    <hr class="my-4">
    <p>An email confirmation has been sent to you.</p>
    <p id="orderNum">
        <b>Order Number: 104-7267819-8293845<!--ADD Cart ID here or Order ID--></b>
    </p>
    <p><b>Guarenteed Delivery: </b></p> <p id="sucess">Dec. 20, 2017</p>
</div>

<h3>Check out what other customers are saying about us!</h3>
<div class="card mb-3 text-center">
    <div class="card-block">
        <blockquote class="card-blockquote">
            <p>Jonny T.</p>
            Rating: <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>

            <footer>Northwind Products always has everything I need right on their website! Glad To be ordering from them.</footer>
        </blockquote>
    </div>
</div>
<div class="card card-outline-secondary mb-3 text-center">
    <div class="card-block">
        <blockquote class="card-blockquote">
            <p>Gerald P.</p>
            Rating: <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i>

            <footer>I like the products Northwind has I also like that they are always on time with my items, and if I ever have any questions about my order I can contact them.</footer>
        </blockquote>
    </div>
</div>
<div class="card card-outline-warning mb-3 text-center">
    <div class="card-block">
        <blockquote class="card-blockquote">
            <p>Zach M.</p>
            Rating: <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>

            <footer>I love shopping with Northwind they always have great deals around the Holidays!</footer>
        </blockquote>
    </div>
</div>
<div class="card  text-center">
    <div class="card-block">
        <blockquote class="card-blockquote">
            <p>Edgar R.</p>
            Rating: <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>

            <footer>They said I would receive my product on a certain day and a blizzard came the same day and I still didnt receive my package.</footer>
        </blockquote>
    </div>
</div>

<footer>
    Northwind Models ©
</footer>



